.testes-titulo {
    font-family: 'Inter';
    font-size: 45px;
}

.testes-subtitulo {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: normal;
}

.container-testes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    width: auto;
    background-color: #F1F2F7;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}