@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.pecas-titulo {
    font-family: 'Inter';
    font-size: 45px;
}

.container-pecas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    width: auto;
    background-color: #F1F2F7;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.cadastrar-peca-button {
    display: flex;
    align-items: center;
    background-color: #0871B4;
    color: #fff;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    border: none;
    width: 150px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}