@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.aeronaves-titulo {
    font-family: 'Inter';
    font-size: 45px;
}

.container-aeronaves {
    display: flex;
    flex-direction: column;
}

.aeronaves-botoes {
    display: flex;
    flex-direction: row;
    height: 35px;
    gap: 20px;
}

.busca-aeronaves-button {
    height: 100%;
    border-radius: 10px;
    background-color: #F1F2F6;
    border: none;
}

.tabela-aeronaves {
    background-color: #F1F2F6;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    height: 25px;
    width: 350px;
}