.modal-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #F1F2F6;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-titulo {
    font-size: 40px;
}

.modal-login-icone {
    height: 80px;
    width: 80px;
}

.form-input-conjunto {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-input {
    height: 25px;
    width: 350px;
}

.login-button {
    background-color: #0871B4;
    width: 120px;
    text-decoration: none;
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    margin-top: 15px;
}

.login-button-legenda {
    color: #fff;
    text-decoration: none;
}